<?xml version="1.0" ?>
<!--
AUTHOR
	a.franzi
	
DESCRIPTION	
	JayBot's plugin configuration file.
	
SPECIFICATIONS
	<plugins> 	- root node
	<plugin> 	- single plugin configuration node
		attributes :
					name (required)
						name of plugin
					
					dependencies (not required)
						csv list of plugin dependencies.
						When plugin loader checks problem in dependencies
						it stops the bot execution.
					
					blocking (not required, default value "false")
						If "true" and some problem occurs in initilizing bot stops his
						execution.
						If "false" and some problem occurs it is logged but the initializing
						continue.
		
		<class>	- 	class full name
					the class must implements this interfaces : 
						- SingletonPluginLoader : 	
							plugin manager call method getInstance on
							startup
						- MessageHandlerPluginInterface : 
							message manager call method chatMessageReceived on
							message received
					   
-->

<plugins>
	<plugin name="pluginController">
		<class>it.nands.jaybot.plugin.configurator.controller.PluginController</class>
	</plugin>
	
	<plugin name="propertiesPlugin" 
			blocking="true">
		<class>it.nands.jaybot.plugin.properties.controller.PropertiesLoader</class>
	</plugin>
	
	<plugin name="quitPlugin" dependencies="propertiesPlugin,pluginController">
		<class>it.nands.jaybot.plugin.quit.QuitPlugin</class>
		<command 	name="quit" 
					onlyForAdmin="true" 
					description="Richiede al bot la sua uscita">
					
			<template>quit</template>
			<description>Disconnette il bot</description>
		</command>	
	</plugin>
	
	<plugin name="helpPlugin" dependencies="propertiesPlugin,pluginController">
		<class>it.nands.jaybot.plugin.help.HelpPlugin</class>
		<command 	name="help" 
					description="Richiede al bot un elenco di tutti i comandi disponibili">
					
			<template>help</template>
			<description>Elenco dei comandi</description>
		</command>
		<!-- da spostare -->
		<command 	name="log" 
					description="Richiede al bot l'invio di un file di log">
					
			<template>log %logFilename %environment</template>
			<description>Chiede l'invio di un file di log</description>
		</command>
	</plugin>
	
	
	
	<!-- paramController, -->
	<!-- plugin name="paramController" dependencies="tokenizerPlugin">
		<class>it.nands.jaybot.plugin.paramcontroller.controller.ParamControllerLoader</class>
		<class>it.nands.jaybot.plugin.paramcontroller.controller.ParamControllerPlugin</class>
	</plugin>
	
	<plugin name="tokenizerPlugin" dependencies="">
		<class>it.nands.jaybot.plugin.tokenizer.controller.TokenizerLoader</class>
	</plugin>
	<plugin name="serverPlugin" dependencies="">
		<class>it.nands.jaybot.plugin.server.controller.ServerLoader</class>
	</plugin>
	<plugin name="resourcePlugin" dependencies="serverPlugin">
		<class>it.nands.jaybot.plugin.resource.controller.ResourcesLoader</class>
	</plugin>
	<plugin name="messageController" dependencies="">
		<class>it.nands.jaybot.plugin.message.controller.MessageLoader</class>
	</plugin>
	<plugin name="ftpPlugin" dependencies="serverPlugin">
		<class>it.nands.jaybot.plugin.ftp.controller.FtpPlugin</class>
	</plugin>
	<plugin name="answerPlugin" dependencies="paramController,propertiesController">
		<class>it.nands.jaybot.plugin.answer.AnswerPlugin</class>
	</plugin>
	-->
	
</plugins>