<?xml version="1.0" ?>
<plugins>
	<plugin name="paramController" dependencies="tokenizerPlugin">
		<class>it.nands.jaybot.plugin.paramController.controller.ParamControllerLoader</class>
		<class>it.nands.jaybot.plugin.paramController.controller.ParamControllerPlugin</class>
	</plugin>
	<plugin name="propertiesController" dependencies="">
		<class>it.nands.jaybot.plugin.properties.controller.PropertiesLoader</class>
	</plugin>
	<plugin name="tokenizerPlugin" dependencies="">
		<class>it.nands.jaybot.plugin.tokenizer.controller.TokenizerLoader</class>
	</plugin>
	<plugin name="serverPlugin" dependencies="">
		<class>it.nands.jaybot.plugin.server.controller.ServerLoader</class>
	</plugin>
	<plugin name="resourcePlugin" dependencies="serverPlugin">
		<class>it.nands.jaybot.plugin.resource.controller.ResourcesLoader</class>
	</plugin>
	<plugin name="messageController" dependencies="">
		<class>it.nands.jaybot.plugin.message.controller.MessageLoader</class>
	</plugin>
	<plugin name="ftpPlugin" dependencies="serverPlugin">
		<class>it.nands.jaybot.plugin.ftp.controller.FtpPlugin</class>
	</plugin>
	<plugin name="answerPlugin" dependencies="paramController,propertiesController">
		<class>it.nands.jaybot.plugin.answer.AnswerPlugin</class>
	</plugin>
	<plugin name="helpPlugin" dependencies="paramController,propertiesController">
		<class>it.nands.jaybot.plugin.help.HelpPlugin</class>
	</plugin>
	<plugin name="quitPlugin" dependencies="paramController,propertiesController">
		<class>it.nands.jaybot.plugin.quit.QuitPlugin</class>
	</plugin>
	
</plugins>